<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master.html}">

<head>
	<meta charset="utf-8">
	<title>Cine Trailers | Registrar Pelicula</title>

</head>

<body>

	<div class="contendor-registrar" layout:fragment="content">
		<div class="registrar-peli">
			<h2>Registrar de pelicula</h2>
			<!-- Insertando formulario -->
			<div th:insert="admin/form :: form"></div>
		</div>
		
		
		<div class="form-img">
			<img src="/imagenes/film.png">
		</div>
	</div>
	

</body>

</html>